<!DOCTYPE html>
<html lang="en" xmlns:th="http://thtmelleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>BookApp</title>
</head>
  <body>
    <h1>Cadastro de Livros:</h1>
    <form method="post">
      Titulo: <input type="text" value="" name="titulo">
      Autor: <input type="text" value="" name="autor">
      Data de Lançamento: <input type="date" value="" name="data_de_lançamento">
      Genero: <input type="text" value="" name="genero">
      Editora: <input type="text" value="" name="editora">
      Sinopse: <input type="text" value="" name="sinopse">
      <button type="submit">Registrar</button>
    </form>
  </body>
</html>